Let's start Programming

## Shortcuts:
## Shift + Enter => Run
## A => Insert a cell Above
## B => Insert a cell Below
## X or DD => Deleting a cell 
## M => Markdown a cell

In [1]:
58-56/8

51.0

In [2]:
56/8-7*8

-49.0

In [3]:
56-66+89

79

In [4]:
x = "Hello World"
x

'Hello World'

In [5]:
print('Hello World')

Hello World

In [6]:
print("Hello World")

Hello World

In [7]:
'Hello world'

'Hello world'

In [8]:
print('hello world') # String should be written in single/double inverted comma

hello world

## => when increase the number of  # , font size will be decreased

# Hello         
## Hello 
### Hello

In [9]:
### print ... It's not Print
### String should be within ' '/" "

"Let's start programming"

In [10]:
#example 1 ....

In [11]:
x = 'Hello World'
x

'Hello World'

In [12]:
x = "Hello World"
x

'Hello World'

In [13]:
x =("Hello World")
x

'Hello World'

In [14]:
type(x)

str

In [15]:
print(y="Hello World")  # This way is wrong.

TypeError: 'y' is an invalid keyword argument for print()

In [16]:
y = "PRAVEEN"
y

'PRAVEEN'

In [17]:
type(y)

str

In [ ]:
#example 2 ....

In [18]:
x = 10
x

10

In [19]:
type(x) # int - No decimal point

int

In [20]:
print(type(x))  ## print (type(x)) => print same result

<class 'int'>

In [ ]:
#example 3 ....

In [21]:
x = 10.5 # float-decimal point
type(x)

float

In [22]:
print(type(x)) # Return an float object constructed from a float number

<class 'float'>

In [ ]:
#example 4 ....

In [23]:
x = 1j  # only j is considering in python not other.
type(x)

complex

In [24]:
x = j # NameError: name 'j' is not defined.
      # any number must be written in multiplication of j.
x

NameError: name 'j' is not defined

In [25]:
x = 2+0j
x

(2+0j)

In [26]:
x = 2-5j
type(x)

complex

In [27]:
x = 2+5j
y = 5-3j
z = x*y
z

(25+19j)

In [28]:
x = 2+4i  # SyntaxError: invalid syntax (complex number should be written with j)
type(x)

SyntaxError: invalid syntax (<ipython-input-28-1f12d81f1880>, line 1)

In [29]:
x = 2+1j
x

(2+1j)

In [30]:
x = 2+1j
x
type(x)

complex

In [31]:
x = 2+1j
type(x)
x       # last command of code will be considering

(2+1j)

In [32]:
x = 2+1j
x,type(x)

((2+1j), complex)

In [33]:
x = 2+1j
print(x,type(x))

(2+1j) <class 'complex'>

In [34]:
x = 2+1j
print(x,
      type(x)) ## No Error

(2+1j) <class 'complex'>

In [ ]:
#example 5 ....

In [35]:
x = 3.6
x,type(x)

(3.6, float)

In [ ]:
#example 6 ....

In [36]:
x = ["apple","mango","banana"]
x

['apple', 'mango', 'banana']

In [37]:
x = ["apple","mango","banana"]
type(x)

list

In [38]:
x = [1,2,3,4]
type(x)

list

In [39]:
x = [1,2.5,2-2j,"mango"]
type(x)

list

In [ ]:
#example 7 ....

In [40]:
x = ("apple","mango","banana")
print(x)

('apple', 'mango', 'banana')

In [41]:
x = ("apple","mango","banana")
type(x)

tuple

In [42]:
x = (1,2.5,2-2j,"mango")
type(x)

tuple

In [43]:
x = 1,2.5,2-2j,"mango"  
x

(1, 2.5, (2-2j), 'mango')

In [44]:
x = 1,2.5,2-2j,"mango"   ## without parenthesis it return tuple
type(x)

tuple

In [ ]:
#example 8 ....

In [45]:
x ={"name" : "praveen", "age" : 25}
x

{'name': 'praveen', 'age': 25}

In [46]:
x ={"name" : "praveen", "age" : 25} # Dictionary
type(x)

dict

In [ ]:
#example 9 ....

In [47]:
x = {"apple","mango","cherry"}
x

{'apple', 'cherry', 'mango'}

In [48]:
x = {"apple","mango","cherry"}
type(x)

set

In [49]:
x ={2,9,5,6,13,8,21,19}  # Tuple arrange numbers in ascending order  
x

{2, 5, 6, 8, 9, 13, 19, 21}

In [50]:
x = {3,1,33,5,4,55,6.5,5,7,"ab","a","ad","ac","d"}
x   # arrange as per ASCII / It's arranged according to first number only after that the alphabet is now.

{1, 3, 33, 4, 5, 55, 6.5, 7, 'a', 'ab', 'ac', 'ad', 'd'}

In [51]:
x = {3,1,33,10+5j,5,-5,4,55,10j,-100,6.5,5,7,"ab","a","ad","ac","d"}
x

{(10+5j),
 -100,
 -5,
 1,
 10j,
 3,
 33,
 4,
 5,
 55,
 6.5,
 7,
 'a',
 'ab',
 'ac',
 'ad',
 'd'}

In [ ]:
#example 10 ....

In [52]:
x = True
x

True

In [53]:
x = true #NameError: name 'true' is not defined
x

NameError: name 'true' is not defined

In [54]:
x = True
type(x)

bool

In [55]:
x = False
type(x)

bool

In [ ]:
# Some Examples

In [56]:
a = "Sharma"
type(a)

str

In [57]:
b = 5.2
type(b)

float

In [58]:
c = 3
type(c)

int

In [59]:
c = 33
type(c)

int

In [60]:
d = 10+8j
type(d)

complex

## Conversion into Data Type

In [61]:
## int into float
x =5
float(x)

5.0

In [62]:
## float into int
x = 5.8
int(x)

5

In [63]:
## int into string
x = 5
str(x)

'5'

### when you execute first cell command and then another. After that you insert a new cell between them and you write type(). It will be shown the type of last cell command that would be run.[69,71,70]

In [64]:
x = 5.5

In [66]:
type(x)

str

In [65]:
x = "Rohit"

# Variables in Python

variables are containers for storing values.
A Python variable is a reserved memory location to store values.

# Declaring Variable

Python has no command for declaring the variables.
When you assign a value to a variable, then a variable is created.

In [67]:
x = 18 ### declaring a variable

In [68]:
x  ### showing the o/p

18

In [69]:
Name = Saktimaan  ### NameError: name 'Saktimaan' is not defined
Name

NameError: name 'Saktimaan' is not defined

In [70]:
Name ="Saktimaan"
Name

'Saktimaan'

In [71]:
Nick_Name ="Gangadhar"
Nick_Name

'Gangadhar'

In [72]:
_NickName ="Gangadhar"
_NickName

'Gangadhar'

In [73]:
1NickName ="Gangadhar"  ### SyntaxError: invalid syntax
1NickName               ### variable should not start with number.

SyntaxError: invalid syntax (<ipython-input-73-05b9e1fd850c>, line 1)

In [74]:
Nick11Name ="Gangadhar" ### After writing first alphabetical letter you can write number anywhere.
Nick11Name

'Gangadhar'

In [75]:
NickName11 ="Gangadhar" 
NickName11

'Gangadhar'

In [ ]:
Nick&&Name ="Gangadhar"  ### SyntaxError: invalid syntax
Nick&&Name

In [ ]:
Nick@Name ="Gangadhar"  ### SyntaxError: cannot assign to operator
Nick@Name               ### No other symbol allow in Python except Underscore(_)

In [ ]:
Nick~Name ="Gangadhar"  ### SyntaxError: invalid syntax
Nick~Name               ### No other symbol allow in Python except Underscore(_)

In [ ]:
Nick$Name ="Gangadhar"  ### SyntaxError: invalid syntax
Nick$Name               ### No other symbol allow in Python except Underscore(_)

In [76]:
age = 25
age

25

In [77]:
Age ### NameError: name 'Age' is not defined

NameError: name 'Age' is not defined

In [ ]:
AGE  ### NameError: name 'Age' is not defined
     ### case-sensitive(age, Age and AGE are three different variables )