## List:

### 1. Allows Heterogenous
### 2.Retrive using index
### 3.mutable
### [ ]

In [1]:
list =["apple","banana","cherry"]
type(list)

list

In [2]:
sample_list= [12,43,"hi",2+10j,3.5,100]    ## Heterogenous - multiple data types
type(sample_list)

list

In [3]:
sample_list[3]  ## accessing list items

(2+10j)

In [4]:
sample_list[2]

'hi'

In [5]:
sample_list[10]  ## list index out of range

IndexError: list index out of range

In [6]:
sample_list[1]="vinay"   ## Mutable -After creating a list we can change any item using index

In [7]:
sample_list

[12, 'vinay', 'hi', (2+10j), 3.5, 100]

In [9]:
sample_list.reverse()

In [10]:
sample_list

[100, 3.5, (2+10j), 'hi', 'vinay', 12]

In [11]:
### create a list of natural numbers from 1 to 10 and name it as Natural_numbers:
Natural_numbers = [1,2,3,4,5,6,7,8,9,10]

In [12]:
### Retrive item of index 7:
Natural_numbers[7]

8

In [13]:
### change the index 9 to 8:
Natural_numbers[9]=8

In [15]:
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 8]

In [16]:
### Reverse the list:
Natural_numbers.reverse()

In [18]:
Natural_numbers

[8, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
### Add 11 to the list:
Natural_numbers.append(11)  ## Element/Item add at the last position of list

In [20]:
Natural_numbers

[8, 9, 8, 7, 6, 5, 4, 3, 2, 1, 11]

In [21]:
### sort elements of the list:
Natural_numbers.sort()   ##This function sort the elements of the list in ascending order

In [22]:
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 11]

## How to use index to get any value

In [15]:
## Create a list
li = [2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
## access second element of List
li[1]

3

In [17]:
## How to access 7 from a list
li[5]

7

In [23]:
## How to access 3, 4 from a list
li[1], li[2]

(3, 4)

In [20]:
li[1:3]

[3, 4]

In [24]:
## we don't know the Length of List, How to get the last Element of the List
li[-1]

9

In [25]:
## Second last Element
li[-2]

8

In [30]:
## Last 4 Elements 
li[-4:]  ## last 4 elements

[6, 7, 8, 9]

In [36]:
li[:-3]  ## all elements except right 3 elements

[2, 3, 4, 5, 6]

In [37]:
li[0:]  ## start from 0 index => li[:]

[2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
## Reverse the entire List
li[::-1]

[9, 8, 7, 6, 5, 4, 3, 2]

In [48]:
## skip Even Elements
li = [2, 3, 4, 5, 6, 7, 8, 9]
li[::2]

[2, 4, 6, 8]

## Problems on List:

#### create a list on all the data types(int,float,complex,string,ect...)
#### Reverse the list
#### sort the Elements of the list

In [1]:
list = [10,"cherry",30.5,"rahul",20+3j]

In [2]:
list.reverse()
list

[(20+3j), 'rahul', 30.5, 'cherry', 10]

In [33]:
list.sort()  ## string and complex not able to be sort out

TypeError: '<' not supported between instances of 'str' and 'int'

In [34]:
### create another list with float and int numbers:
mylist = [3.5,2.5,1,3,10,10.5,11]
mylist.sort()
mylist

[1, 2.5, 3, 3.5, 10, 10.5, 11]

### Create a list with only string data type.
### No. Elements should be 5 (apple,mango,banana,cherry,pineaplle)

In [35]:
fruit_collection =["apple","mango","banana","cherry","pineapple"]

In [36]:
### find Banana lies in fruit_collection list:
print("banana" in fruit_collection)  ## operator - in

True

In [38]:
### print items:
for items in fruit_collection:    ## for operator
    print(items)

apple
mango
banana
cherry
pineapple

In [39]:
### length of fruit_collection list:
len(fruit_collection)

5

#### create a list with float and int numbers
#### find the length of this list
#### find the maximum value in this list
#### find the minimum value in this list
#### Remove all the Elements in this list

In [42]:
numbers_list = [150,12.0,123,1.111,999.999,10000]

In [43]:
len(numbers_list)

6

In [44]:
max(numbers_list)

10000

In [45]:
min(numbers_list)

1.111

In [48]:
numbers_list.clear()  ## clear() - Empty list
numbers_list

[]

#### create two list with any data types and add these two lists are added.  / concatnation

In [49]:
list1 =[99,10,"vinay",0+0j,True]
list2 =["sharma",98,1+1j,False]
list3=list1+list2
list3

[99, 10, 'vinay', 0j, True, 'sharma', 98, (1+1j), False]

# Test on List:

### Create a list of int and float data type
### find the number of elements in the list
### find the minimum and maximum value
### Append a new element to the list
### create a copy of the list
### Return index position of an object
### Insert a new element at the specified index position 
### Delete an  element from a list
### Reverse a list
### Sort a list
### Remove all the Elements from the list

In [1]:
test_list = [101,10.1,102,10.2,110,11.0]

In [2]:
len(test_list)

6

In [3]:
min(test_list)

10.1

In [4]:
max(test_list)

110

In [5]:
test_list.append(120)
test_list

[101, 10.1, 102, 10.2, 110, 11.0, 120]

In [6]:
new_list=test_list.copy()
new_list

[101, 10.1, 102, 10.2, 110, 11.0, 120]

In [7]:
test_list.index(102)

2

In [8]:
test_list.insert(1,130)
test_list

[101, 130, 10.1, 102, 10.2, 110, 11.0, 120]

In [9]:
del test_list[1]
test_list

[101, 10.1, 102, 10.2, 110, 11.0, 120]

In [10]:
test_list.remove(110)
test_list

[101, 10.1, 102, 10.2, 11.0, 120]

In [11]:
test_list.pop()

120

In [12]:
test_list

[101, 10.1, 102, 10.2, 11.0]

In [13]:
test_list.pop(1)

10.1

In [14]:
test_list

[101, 102, 10.2, 11.0]

In [59]:
test_list.reverse()
test_list

[120, 11.0, 110, 10.2, 102, 10.1, 101]

In [60]:
test_list.sort()
test_list

[10.1, 10.2, 11.0, 101, 102, 110, 120]

In [62]:
test_list.clear()
test_list

[]

# String

In [53]:
string = "Hello World World"

In [54]:
string[0]

'H'

In [55]:
string[-2:]

'ld'

In [56]:
string[::-1]

'dlroW dlroW olleH'

In [60]:
string[0]='h'

TypeError: 'str' object does not support item assignment

## Tuple:

### 1. Allows Heterogenous
### 2.Retrive using index
### 3.Cannot change the data once declared - immutable
### ()

In [74]:
sample_tuple = (1,12,22,1+3j,"hi",True)

In [75]:
type(sample_tuple)

tuple

In [76]:
sample_tuple[3]

(1+3j)

In [77]:
sample_tuple.reverse()  ### 'tuple' object has no attribute 'reverse'

AttributeError: 'tuple' object has no attribute 'reverse'

In [78]:
sample_tuple[3]=100  ### 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### Q. create a tuple with int anfd float number
###     sort the elements of tuple

In [83]:
tuple = (102,112,123,10.5,115,1.02)

In [84]:
tuple.sort() ###  'tuple' object has no attribute 'sort'

AttributeError: 'tuple' object has no attribute 'sort'

In [85]:
sorted(tuple)

[1.02, 10.5, 102, 112, 115, 123]

In [86]:
sorted(tuple,reverse=True)

[123, 115, 112, 102, 10.5, 1.02]

In [87]:
### Repeat Tuple 4 time
n=4
new_tuple=tuple*n
new_tuple

(102,
 112,
 123,
 10.5,
 115,
 1.02,
 102,
 112,
 123,
 10.5,
 115,
 1.02,
 102,
 112,
 123,
 10.5,
 115,
 1.02,
 102,
 112,
 123,
 10.5,
 115,
 1.02)

In [88]:
### concatnation
tuple1 = (123, 115, 112, 102, 10.5, 1.02)
tuple2 = (3, 15, 11,2, 10.5, 1)
tuple3=tuple1+tuple2
tuple3

(123, 115, 112, 102, 10.5, 1.02, 3, 15, 11, 2, 10.5, 1)

In [89]:
### check for a particular element:
tuple = (123, 115, 112, 102, 10.5, 1.02)
print(100 in tuple)

False

In [90]:
print(100 not in tuple)

True

In [93]:
fruits_tuple = ("apple","banana","cherry","mango")
for fruit in fruits_tuple:
    print(fruit)

apple
banana
cherry
mango

## Test on Tuple:

### Create a tuple of int and float data type
### find the number of elements in the tuple
### find the minimum and maximum value
### Append a new element to the tuple
### create a copy of the tuple
### Return index position of an object
### Insert a new element at the specified index position 
### Delete an  element from a tuple
### Reverse a tuple
### Sort a tuple
### Remove all the Elements from the tuple
### concat two tuple

In [3]:
tuple = (10,20.5,0.5,20,0.3,30)

In [4]:
len(tuple)

6

In [5]:
min(tuple)

0.3

In [6]:
max(tuple)

30

In [7]:
tuple.append(200)  ## immutable

AttributeError: 'tuple' object has no attribute 'append'

In [1]:
tuple = (10,20.5,0.5,20,0.3,30)
new_list=list(tuple)
new_list

[10, 20.5, 0.5, 20, 0.3, 30]

In [3]:
new_list.append(200)
new_list

[10, 20.5, 0.5, 20, 0.3, 30, 200, 200]

In [13]:
list1=new_list.copy()
list1

[10, 20.5, 0.5, 20, 0.3, 30, 200]

In [111]:
tuple.index(0.5)

2

In [18]:
new_list.insert(1,200)
new_list

[10, 200, 200, 20.5, 0.5, 20, 0.3, 30, 200]

In [20]:
del new_list[0]
new_list

[200, 20.5, 0.5, 20, 0.3, 30, 200]

In [29]:
new_list.remove(200)
new_list

[20.5, 0.3, 30, 200]

In [33]:
new_list.reverse()
new_list

[200, 30, 0.3, 20.5]

In [36]:
new_list.sort()
new_list

[0.3, 20.5, 30, 200]

In [108]:
tuple1 = (1,3,2,6,4,9,8)
tuple2 = (0,5,9,4,2)
tuple3=tuple1+tuple2
tuple3

(1, 3, 2, 6, 4, 9, 8, 0, 5, 9, 4, 2)

In [38]:
fruit=("apple","banana","pine")
f=list(fruit)
f.append("cherry")
f

['apple', 'banana', 'pine', 'cherry']

## Set:

In [40]:
set ={17,17,2,4,5,16,16,21,8.4,"hi"}
set

{16, 17, 2, 21, 4, 5, 8.4, 'hi'}

In [41]:
type(set)

set

In [42]:
set.append(10)

AttributeError: 'set' object has no attribute 'append'

In [44]:
set.add(10)
set

{10, 16, 17, 2, 21, 4, 5, 8.4, 'hi'}

In [45]:
set.remove(16)
set

{10, 17, 2, 21, 4, 5, 8.4, 'hi'}

In [46]:
set[0]  ## using index we can not retrive the data

TypeError: 'set' object is not subscriptable

In [47]:
set[0]=100

TypeError: 'set' object does not support item assignment

In [50]:
Days = {"Mon","Tues","Wed","Thrus","Fri","Sat","Sun"}
print(Days)
print(type(Days))
print("looping through the set elements....")
for i in Days:
    print(i)

{'Mon', 'Wed', 'Fri', 'Sat', 'Thrus', 'Tues', 'Sun'}
<class 'set'>
looping through the set elements....
Mon
Wed
Fri
Sat
Thrus
Tues
Sun

## Test on Set:

### Create a set of int and float data type
### find the number of elements in the set
### find the minimum and maximum value
### Append a new element to the set
### create a copy of the set
### Return index position of an object
### Insert a new element at the specified index position 
### Delete an  element from a set
### Reverse a set
### Sort a set
### Remove all the Elements from the set
### concat two tuple

In [61]:
set = {0.5,20,30.3,10,15,10}
set

{0.5, 10, 15, 20, 30.3}

In [62]:
len(set)

5

In [63]:
min(set)

0.5

In [64]:
max(set)

30.3

In [65]:
set.append(100)

AttributeError: 'set' object has no attribute 'append'

In [66]:
new_set=set.copy()
new_set

{0.5, 10, 15, 20, 30.3}

In [67]:
set.index(15)

AttributeError: 'set' object has no attribute 'index'

In [68]:
set.insert(0,100)

AttributeError: 'set' object has no attribute 'insert'

In [69]:
set.remove(10)
set

{0.5, 15, 20, 30.3}

In [70]:
set.reverse()

AttributeError: 'set' object has no attribute 'reverse'

In [71]:
set.sort()

AttributeError: 'set' object has no attribute 'sort'

In [72]:
set = {0.5,20,30.3,10,15,10}
sorted(set)
set

{0.5, 10, 15, 20, 30.3}

In [73]:
set.clear()
set

set()

In [74]:
set1 = {10,3,12,21,30}
set2 = {21,23,52,48,65}
set3=set1+set2
set3

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [75]:
set = {0.5,20,30.3,10,15,10}
set

{0.5, 10, 15, 20, 30.3}

In [76]:
set.pop()

0.5

In [77]:
set

{10, 15, 20, 30.3}

## Dictionary:

#### 1.Dictionary has key value pair datastructure
#### 2.Key is unique and values can be duplicated
#### 3.Can retrieve the value using key
#### 4.can change the value using key
#### 5.key is immutable

In [78]:
dict_test = {"a":"alpha",1:"first",2:"second",3:"third",1:"fourth",5:"fifth",6:"sixth"}
type(dict_test)

dict

In [79]:
dict_test ### Key is unique / values can be duplicated If same key is there, Last key could be considered.

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fifth', 6: 'sixth'}

In [82]:
list(dict_test) ## this function create a list of keys not values

['a', 1, 2, 3, 5, 6]

In [85]:
dict_test.keys()

dict_keys(['a', 1, 2, 3, 5, 6])

In [86]:
dict_test.values()

dict_values(['alpha', 'fourth', 'second', 'third', 'fifth', 'sixth'])

In [89]:
dict_test.items()

dict_items([('a', 'alpha'), (1, 'fourth'), (2, 'second'), (3, 'third'), (5, 'fifth'), (6, 'sixth')])

In [87]:
dict_test["a"]

'alpha'

In [7]:
dict_test[5]  ### Retrieve the value using key

'fifth'

In [8]:
dict_test[1]

'fourth'

In [9]:
dict_test[5]="fourth"   ### mutable using key
dict_test

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [11]:
dict_test["alpha"]  ### Key cannot be retrieved using value

KeyError: 'alpha'

In [10]:
dict_test[8]="Sharma"  ### we can add key and value to a dictionary
dict_test

{'a': 'alpha',
 1: 'fourth',
 2: 'second',
 3: 'third',
 5: 'fourth',
 6: 'sixth',
 8: 'Sharma'}

In [12]:
dict_test.reverse()

AttributeError: 'dict' object has no attribute 'reverse'

In [13]:
dict_test.pop("a")
dict_test

{1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth', 8: 'Sharma'}

In [90]:
len(dict_test)

6

In [91]:
Dict1 = {'word1': ['meaning1', 'meaning12'], 'word2': 'meaning2', 'word3': 'meaning3'}
Dict1

{'word1': ['meaning1', 'meaning12'], 'word2': 'meaning2', 'word3': 'meaning3'}

In [92]:
Dict1['word1']

['meaning1', 'meaning12']

In [93]:
Dict1['word2']

'meaning2'

## Create Nested Dictionary

In [94]:
class_room ={
              'boys': ['boy1', 'boy2'],
              'girls' : ['girl1', 'girl2', 'girl3']
             }

In [95]:
class_room

{'boys': ['boy1', 'boy2'], 'girls': ['girl1', 'girl2', 'girl3']}

In [96]:
class_room['boys']

['boy1', 'boy2']

In [97]:
class_room['girls']

['girl1', 'girl2', 'girl3']

In [99]:
## nested Dict
class_room ={
              'boys': {'boy1': ['p', 'c'], 'boy2':['h', 'b']},
              'girls' : {'girl1':['p', 'c'], 'girl2':['p', 'c'], 'girl3':['p', 'c']}
             }

In [100]:
class_room['boys']

{'boy1': ['p', 'c'], 'boy2': ['h', 'b']}

In [101]:
class_room['girls']

{'girl1': ['p', 'c'], 'girl2': ['p', 'c'], 'girl3': ['p', 'c']}

In [105]:
## nested Dict
class_room ={
              'boys': {'boy1': 
                         {
                            'p':78, 
                            'c':83
                         }, 
                       'boy2':
                         {
                            'h':79, 
                            'b':87
                         }
                      },
              'girls' : {'girl1':
                            {
                               'p':82, 
                               'c':72
                            }, 
                         'girl2':
                            {
                                'p':75, 
                                'c':99
                            }, 
                         'girl3':
                            {
                                'p':80, 
                                'c':90
                            }
                        }
             }

In [106]:
class_room['boys']

{'boy1': {'p': 78, 'c': 83}, 'boy2': {'h': 79, 'b': 87}}

In [108]:
## access boy1 record
class_room['boys']['boy1']

{'p': 78, 'c': 83}

In [109]:
## retrieve marks of boy1 in chemistry
class_room['boys']['boy1']['c']

83

In [110]:
class_room['boys']['boy2']['h']

79

In [111]:
class_room['girls']

{'girl1': {'p': 82, 'c': 72},
 'girl2': {'p': 75, 'c': 99},
 'girl3': {'p': 80, 'c': 90}}

In [112]:
class_room['girls']['girl3']['p']

80

In [113]:
## create a new key for storing new value
class_room['girls']['girl3']['m'] = 100

In [115]:
class_room

{'boys': {'boy1': {'p': 78, 'c': 83}, 'boy2': {'h': 79, 'b': 87}},
 'girls': {'girl1': {'p': 82, 'c': 72},
  'girl2': {'p': 75, 'c': 99},
  'girl3': {'p': 80, 'c': 90, 'm': 100}}}

In [116]:
del class_room['girls']['girl3']['c']

In [117]:
class_room

{'boys': {'boy1': {'p': 78, 'c': 83}, 'boy2': {'h': 79, 'b': 87}},
 'girls': {'girl1': {'p': 82, 'c': 72},
  'girl2': {'p': 75, 'c': 99},
  'girl3': {'p': 80, 'm': 100}}}

In [118]:
class_room.update(dict_test)

In [119]:
class_room

{'boys': {'boy1': {'p': 78, 'c': 83}, 'boy2': {'h': 79, 'b': 87}},
 'girls': {'girl1': {'p': 82, 'c': 72},
  'girl2': {'p': 75, 'c': 99},
  'girl3': {'p': 80, 'm': 100}},
 'a': 'alpha',
 1: 'fourth',
 2: 'second',
 3: 'third',
 5: 'fifth',
 6: 'sixth'}

In [120]:
## nested Dict
class_room ={
              'boys': {'boy1': ['Phy',
                         {
                            'p':78, 
                            'c':83
                         }], 
                       'boy2':
                         {
                            'h':79, 
                            'b':87
                         }
                      },
              'girls' : {'girl1':
                            {
                               'p':82, 
                               'c':72
                            }, 
                         'girl2':
                            {
                                'p':75, 
                                'c':99
                            }, 
                         'girl3':
                            {
                                'p':80, 
                                'c':90
                            }
                        }
             }

In [121]:
class_room

{'boys': {'boy1': ['Phy', {'p': 78, 'c': 83}], 'boy2': {'h': 79, 'b': 87}},
 'girls': {'girl1': {'p': 82, 'c': 72},
  'girl2': {'p': 75, 'c': 99},
  'girl3': {'p': 80, 'c': 90}}}

In [124]:
class_room.pop('girls')

{'girl1': {'p': 82, 'c': 72},
 'girl2': {'p': 75, 'c': 99},
 'girl3': {'p': 80, 'c': 90}}

In [125]:
class_room

{'boys': {'boy1': ['Phy', {'p': 78, 'c': 83}], 'boy2': {'h': 79, 'b': 87}}}

In [127]:
del class_room['boys']['boy2']

In [128]:
class_room

{'boys': {'boy1': ['Phy', {'p': 78, 'c': 83}]}}