# Loops in Python

### While loop:

### write a program to input number from 0 to 10 from user.
i=9
while i<=10 and i>=0:  ## There is no increment statement So while loop run infinite time
    print(i)
i=int(input("enter the number"))

In [18]:
i=15
while i<=10 and i>=0:
    print(i)
i=int(input("enter the number"))

enter the number12

In [4]:
i=0
while i<=10 and i>=0:
    print(i)
    i=int(input("enter the number:")) ### some error

0
enter the number:0
0
enter the number:1
1
enter the number:15

In [2]:
i=1
while i<11:
    print(i)
    i+=1  ### i=i+1

1
2
3
4
5
6
7
8
9
10

In [5]:
### Print output 3,6,9,12,15 using while loop.
i=3
while i <= 15:
    print(i)
    i+=3

3
6
9
12
15

In [1]:
i=1
while i <6:
    print(i)
    if i==2:
        break
    i+=1

1
2

In [2]:
i=1
while i<100:
    print(i)
    if i==20:
        break
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
i=1
while i<100:
    print(i)
    if i==20:  ### Here is no break because i in if condition do not match with 20.
        break
    i+=2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [4]:
i=1
while i<100:
    print(i)
    if i==21: ### Here is i match with 20 for break.
        break
    i+=2

1
3
5
7
9
11
13
15
17
19
21

In [11]:
i=0
while i<10:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10

i=0
while i<100:
  print(i)
  if i==10:    ## i=10 is skip
    continue
  i+=1   ## after i=9 it take again and again value 10 of i.

In [12]:
i=90
while i<100:
    i+=1
    if i==97:
        continue
    print(i)

91
92
93
94
95
96
98
99
100

### For loop:

In [1]:
sample_list=["apple","mango","pineapple"]
for x in sample_list:
    print(x)

apple
mango
pineapple

In [2]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [4]:
for x in sample_list:
    print(x)
    if x=="mango":
        break

apple
mango

In [6]:
for x in sample_list:
    if x=="mango":
        break
    print(x)

apple

In [7]:
for x in sample_list:
    if x=="mango":
        continue
    print(x)

apple
pineapple

In [8]:
Program_list=["ML with Python","ML with R","Python","DataScience with Python","DataScience with R"]
for x in Program_list:
    print(x)

ML with Python
ML with R
Python
DataScience with Python
DataScience with R

In [9]:
Program_list=["ML with Python","ML with R","Python","DataScience with Python","DataScience with R"]
for x in "DataScience with Python":
    print(x)

D
a
t
a
S
c
i
e
n
c
e

w
i
t
h

P
y
t
h
o
n

In [10]:
Program_list=["ML with Python","ML with R","Python","DataScience with Python","DataScience with R"]
for x in Program_list:
    if x=="DataScience with Python":
        break
    print(x)

ML with Python
ML with R
Python

In [11]:
Program_list=["ML with Python","ML with R","Python","DataScience with Python","DataScience with R"]
for x in Program_list:
    if x=="DataScience with Python":
        continue
    print(x)

ML with Python
ML with R
Python
DataScience with R

In [16]:
Program_list=["ML with Python","ML with R","Python","DataScience with Python","DataScience with R"]
for x in Program_list:
    if x=="Python":
        continue
    print(x)

ML with Python
ML with R
DataScience with Python
DataScience with R

In [1]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [17]:
for x in range(0,6):
    print(x)

0
1
2
3
4
5

In [2]:
for x in range(0,12,2):   ## skip even element in the range # here there is no list present
    print(x)

0
2
4
6
8
10

In [18]:
for x in range(0,20):
    if x==10:
        break
    print(x)

0
1
2
3
4
5
6
7
8
9

In [3]:
for x in list(range(0,10,2)):
    print(x)

0
2
4
6
8

In [5]:
li = []
for x in range(0,10,2):
    li.append(x)
    print(li)      # after adding each element it will print becoz print function inside the loop

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [6]:
li = []
for x in range(0,10,2):
    li.append(x)
    
print(li)

[0, 2, 4, 6, 8]